/* PROJELER ------------------------------------------------------ */
.ana-bölüm-projeler-içerikler
{    
    width: 90vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin: 1vh 5vw;
}

.ana-bölüm-projeler-butonlar
{
    width: 90%;
    height: 56vh;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 0 90%;
    position: absolute;
    pointer-events: none;
    cursor: pointer;
}

.ana-bölüm-projeler-buton
{
    color: #D4BBE0;
    width: 100%;
    height: 56vh;
    font-size: 500%;
    font-weight: 900;
    text-align: center;
    align-content: center;
    pointer-events: auto;
}

.ana-bölüm-projeler-içerik
{
    scroll-snap-align: center;
    /*58*/
    height: 56vh;
    width: 90%;
    margin: auto 5%;
    display: inline-block;
}

.ana-bölüm-projeler-içerik-yazı
{
    background-color: #D4BBE0;
    color: black;
    border-radius: 16px 0 0 16px;
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
    float: left;
    font-weight: normal;
    font-size: x-large;
}

.ana-bölüm-projeler-ismi
{
    font-weight: bold;
    font-size: xx-large;
    margin: 2% 2%;
    position: relative;
    white-space: normal;
    height: 34%;
    align-content: center;
}  

.ana-bölüm-projeler-tarih
{
    position: relative;
    margin: 2% auto;
    height: 6%;
}

.ana-bölüm-projeler-açıklama
{
    position: absolute;
    text-align: justify;
    white-space: normal;
    margin: 2% 6%;
    height: 36%;
}

.ana-bölüm-projeler-github
{
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 16%;
    align-content: center;
}

.ana-bölüm-projeler-github a
{
    color: black;
}

.ana-bölüm-projeler-github a:hover
{
    color: rgb(120, 15, 190);
}

.ana-bölüm-projeler-içerik-medya
{
    border-radius: 0 16px 16px 0;
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
    float: left;
}

.ana-bölüm-projeler-içerik-medya img
{
    border-radius: 0 16px 16px 0;
    width: 99%;
    height: 100%;
    object-fit: cover;
}

.ana-bölüm-projeler-içerikler::-webkit-scrollbar 
{
  display: none;
}

.ana-bölüm-projeler-içerikler 
{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@media only screen and (orientation: portrait)
{
    .ana-bölüm-projeler-içerikler
    {    
        width: 100vw;
        margin: 5vh 0vw;
    }

    .ana-bölüm-projeler-butonlar
    {
        width: 100%;
        height: 80vh;
        gap: 0 90%;
    }

    .ana-bölüm-projeler-buton
    {
        width: 100%;
        height: 80vh;
        pointer-events: auto;
    }

    .ana-bölüm-projeler-içerik
    {
        height: 80vh;
        width: 90%;
        margin: 0vh 5%;
        display: inline-block;
    }

    .ana-bölüm-projeler-içerik-yazı
    {
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: 50%;
        font-size: large;
    }

    .ana-bölüm-projeler-ismi
    {
        font-size: x-large;
    }

    .ana-bölüm-projeler-içerik-medya
    {
        border-radius: 0 0 16px 16px;
        width: 100%;
        height: 50%;
    }

    .ana-bölüm-projeler-içerik-medya img
    {
        border-radius: 0 0 16px 16px;
        width: 100%;
    }
}