.ana-bölüm
{
    display: block;
    position: absolute;
    right: 0;
    top: 0;

    z-index: 0;
    height: 100vh;
    width: 100%;
    
    background: linear-gradient(135deg, #0d0d0d, #292929);


    color: #D4BBE0;

    text-align: center;
    font-family: 'Barlow', sans-serif;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.ana-bölüm-sayfa
{
    height: 100vh;
    scroll-snap-align: center;
}

.ana-bölüm-sayfa-başlık
{
    height: 16vh;
    padding: 2% 0%;

    font-size: 400%;
    font-weight: 1000;
    
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

/* EĞİTİM & İŞ DENEYİMİ ------------------------------------------------------ */
.ana-bölüm-eğitim-içerik, .ana-bölüm-iş-deneyimi-içerik
{
    height: 12vh;
    width: 80vw;
    margin: 10vh 10vw 18vh;
    border-radius: 16px;

    position: relative;

    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.75);
}

.ana-bölüm-eğitim-okul, .ana-bölüm-eğitim-tarih, .ana-bölüm-iş-deneyimi-kurum
, .ana-bölüm-iş-deneyimi-tarih
{
    display: block;
    position: relative;
    float: left;

    height: 12vh;
    width: 50%;

    font-size: 180%;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.ana-bölüm-eğitim-okul, .ana-bölüm-iş-deneyimi-kurum 
{
    border-radius: 16px 0 0 16px;

    background-color: #D4BBE0;
    color: #292929;
}

.ana-bölüm-eğitim-tarih, .ana-bölüm-iş-deneyimi-tarih
{
    border-radius: 0 16px 16px 0;

    background-color: #1d1d1d;
    color: #D4BBE0;
}

/*İLETİŞİM-------------------------------------------------*/
.ana-bölüm-iletişim-içerik
{
    height: 8vh;
    width: 80vw;
    margin: 0 10vw 4vh;
    border-radius: 16px;

    position: relative;

    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.75);
}

.ana-bölüm-iletişim-başlık, .ana-bölüm-iletişim-metin
{
    display: block;
    position: relative;
    float: left;

    height: 8vh;
    width: 50%;

    font-size: 140%;
    font-weight: normal;
    text-align: center;
    align-content: center;
}

.ana-bölüm-iletişim-başlık
{
    border-radius: 16px 0 0 16px;

    background-color: #D4BBE0;
    color: #292929;

    font-weight: 900;
}

.ana-bölüm-iletişim-metin, .ana-bölüm-iletişim-metin a
{
    border-radius: 0 16px 16px 0;

    background-color: #1d1d1d;
    color: #D4BBE0;
}

.ana-bölüm-iletişim-metin a:hover
{
    color: #b643f0;
}

@media only screen and (orientation: portrait)
{
    body
    {
        font-size: xx-small;
    }

    .ana-bölüm
    {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .alt-bölüm::-webkit-scrollbar
    {
        display: none;
    }

    .alt-bölüm
    {
        display: none;
        visibility: hidden;
    }

    .ana-bölüm-sayfa-başlık:not(#ana-bölüm-giriş-başlık)
    {
        height: 8vh;
        font-size: -webkit-xxx-large;
        margin: 0;
        padding: 2vh 0 0;
    }
}